# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
backend/.venv/
venv/

# Local data & uploads
backend/data/
!backend/data/.gitkeep

# Secrets
backend/.env

# Node/Frontend
frontend/node_modules/
frontend/dist/
*.map

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
